mat-form-field,
input {
    width: 100%;
}

img {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
}

.mat-card-header {
    background-color: #fa4081;
    color: white;
    justify-content: center;
}